@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.header {
    background-color: #222;
    padding: 20px 100px;
    font-weight: 600;
}

main {
    margin: 50px 100px;
    width: 60%;
    float: left;
}

aside {
    width: 20%;
    margin-top: 50px;
    margin-left: 5%;
    float: left;
}

main .user {
    margin-bottom: 20px;
    background-color: #3e8fa0;
    padding: 20px;
    width: 100%;
}

main .delete-icon {
    float: right;
    color: #134b57;
    cursor: pointer;
    transform: scale(2);
    vertical-align: center;
}

main .edit-icon {
    float: right;
    margin-right: 20px;
    color: #165664;
    cursor: pointer;
    transform: scale(2);
}

main .delete-icon:hover,
main .edit-icon:hover {
    opacity: 0.5;
}

form input,
form textarea,
form button {
    width: 90%;
    padding: 15px 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    border: 0;
    background: #222;
    color: #fff;
    outline: none;
    font-size: 15px;
}

form label {
    margin: 20px;
}

form select,
form option {
    width: 100%;
    padding: 15px 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    border: 0;
    background: #222;
    color: #fff;
    outline: none;
    font-size: 15px;
}

form button {
    width: 100%;
    cursor: pointer;
    transition: transform 500ms ease;
}

form button:hover {
    transform: scale(1.1);
}

.user form {
    margin-top: 40px;
}

.users_list {
    display: flex;
    flex-direction: column;
}

.user form input,
.user form textarea,
.user form button,
.user form select,
.user form option {
    background-color: #134b57;
} 

.user form button:hover{
    transform: scale(1.01);
}

.row {
    width: 10%;
}

.head_row {
    width: 20px;
}

.user .users_table {
    width: 1000px;
}

.table {
    padding-right: 20px;
}

.users_list {
    padding-left: 20px;
    padding-right: 20px;
}

.table, .users_table {
    float: left;
    width: 100%;
    text-align: center;
}